<div class="panel-group" id="accordion">
	{% for key, value in dealers %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
						Поставщик &laquo;{{ key }}&raquo; 
						<span class="badge" id="badge{{ forloop.counter }}">{{ value|length }}</span>
					</a>
				</h4>
			</div>
			{% if forloop.counter == 1 and value|length > 0 %}
				<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
			{% else %}
				<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
			{% endif %}
				<ul class="list-group">
					{% for v in value %}
						<li class="list-group-item">{{ v.docfile }} 
							<a href="#{{ v.id }}" id="rem-file-link" class="pull-right" 
							badge="badge{{ forloop.parentloop.counter }}">
							<span class="glyphicon glyphicon-remove"></span></a>
						</li>
					{% empty %}
						<li class="list-group-item">Для поставщика &laquo;{{ key }}&raquo; нет загруженных прайсов.</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="modal fade" id="delModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Удаление</h4>
					</div>
					<div class="modal-body">
						<p>Хотите удалить файл?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger btn-ok" data-dismiss="modal">Да</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
					</div>
				</div>
			</div>
		</div>
	{% empty %}
		<h4>Нет поставщиков.</h4>
	{% endfor %}
</div>
