{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block nav_content %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li><a href="/price/"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
		{% if user.is_superuser %}
		<li><a href="/admin/">Админ</a></li>
		{% endif %}
	</ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
		{% if user.is_superuser %}
		<li><a href="/price/upload/"><span class="glyphicon glyphicon-upload"></span> Импорт</a></li>
		<li class="disabled"><a href="#"><span class="glyphicon glyphicon-download"></span> Экспорт</a></li>
		{% endif %}
		<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
	</ul>
	<form class="navbar-form-alt" role="search">
		{% csrf_token %}
		<div class="input-group">
			<div class="input-group-btn search-panel">
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					<span id="search_concept">Фильтры</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">Фильтры:</li>
					<li><a href="#name">По названию</a></li>
					<li><a href="#articul">По артиклу</a></li>
				</ul>
			</div>
			<input type="text" name="query" class="form-control" value="{{ query }}" placeholder="Поиск" autocomplete="on" autofocus="autofocus">
			<input type="hidden" name="search_filter" value="name">
			<input type="hidden" name="p" value="1">
			<span class="input-group-btn">
				<button class="btn btn-primary" id="search-btn">
					<span class="glyphicon glyphicon-search">
						<span class="sr-only">Search</span>
					</span>
				</button>
			</span>
		</div>
	</form>
</div>
{% endblock %}
