{% extends 'base.html' %}
{% block title %}Поиск{% endblock %}
{% block navbar_content %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/price/"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
			{% if user.is_superuser %}
				<li><a href="/admin/">Админ</a></li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
			{% if user.is_superuser %}
				<li><a href="/price/upload/"><span class="glyphicon glyphicon-upload"></span> Импорт</a></li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-download"></span> Экспорт</a></li>
			{% endif %}
			<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
		</ul>
		<form class="navbar-form-alt" role="search">
			{% csrf_token %}
			<div class="input-group">
				<div class="input-group-btn search-panel">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span id="search_concept">Фильтры</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">Фильтры:</li>
						<li><a href="#name">По названию</a></li>
						<li><a href="#articul">По артиклу</a></li>
					</ul>
				</div>
				<input type="text" name="query" class="form-control" value="{{ query }}" placeholder="Поиск" autocomplete="on" autofocus="autofocus">
				<input type="hidden" name="search_filter" value="name">
				<input type="hidden" name="p" value="0">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search">
						<span class="sr-only">Search</span>
						</span>
					</button>
				</span>
			</div>
		</form>
	</div>
{% endblock %}
{% block content %}
	<div style="margin-top: 60px;">
	{% if query %}
		{% if articles %}
			<div class="alert alert-success fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{% if articles.paginator.count > 1 %}
					<strong title="Да детка!">YEAP!</strong> Всего найдено: <b>{{ articles.paginator.count }}</b> результатов.
				{% else %}
					<strong title="Да детка!">YEAP!</strong> Запрос выполнен успешно.
				{% endif %}
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Артикул</th>
							<th>Название</th>
							<th>Производитель</th>
							<th>Цена розничная</th>
						</tr>
					</thead>
					<tbody>
						{% if articles|length > 1 %}
							{% for i in articles %}
								<tr>
									<th>{{ i.articul }}</th>
									<th>{{ i.name }}</th>
									<th>{{ i.producer }}</th>
									<th>{{ i.recomend_price }}</th>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<th>{{ articles.articul }}</th>
								<th>{{ articles.name }}</th>
								<th>{{ articles.producer }}</th>
								<th>{{ articles.recomend_price }}</th>
							</tr>
						{% endif %}
					</tbody>
				</table>
					{% if articles.paginator.page_range|length > 1 %}
						<div class="text-center">
							<ul class="pagination">
								{% for i in paginations %}
									{% if i == p %}
										<li class="active"><a href="#{{ i }}">{{ i }}</a></li>
									{% elif i == '...' %}
										<li class="disabled"><a href="#">...</a></li>
									{% else %}
										<li><a href="#{{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
			</div>
		{% else %}
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong title="Дратути!">ОШИБКА!</strong> По запросу: <b>{{ query }}</b> ничего не найдено. <b>Во всём вините программистов!</b>
			</div>
			<p>Попробуйте изменить запрос и повторить поиск.</p>
			<p>Как вариант, можете поплакаться в желетку своему начальнику. Удачи!</p>
		{% endif %}
	{% else %}

	{% endif %}
	</div>
{% endblock %}
