{% if articles %}
	<div class="alert alert-success fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{% if articles.paginator.count > 1 %}
			<strong title="Да детка!">YEAP!</strong> Всего найдено: <b>{{ articles.paginator.count }}</b> результатов.
		{% else %}
			<strong title="Да детка!">YEAP!</strong> Запрос выполнен успешно.
		{% endif %}
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-left">Артикул</th>
					<th class="text-left">Название</th>
					<th class="text-center">Производитель</th>
					<th class="text-center">Розничная цена</th>
				</tr>
			</thead>
			<tbody>
				{% for i in articles %}
					<tr>
						<th class="text-left">{{ i.articul|default:'&ndash;' }}</th>
						<th class="text-left">
							<a href="#" title="Поставщик" data-toggle="popover" data-trigger="hover"
							data-content="{{ i.dealer }}">{{ i.name|default:'&ndash;' }}</a>
						</th>
						<th class="text-center">{{ i.producer|default:'&ndash;' }}</th>
						<th class="text-center">{{ i.recomend_price|default:'&ndash;' }}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			{% if articles.paginator.page_range|length > 1 %}
				<div class="text-center">
					<ul class="pagination">
						{% for i in paginations %}
							{% if i == p %}
								<li class="active"><a href="#{{ i }}">{{ i }}</a></li>
							{% elif i == '...' %}
								<li class="disabled"><a href="#nop">&hellip;</a></li>
							{% else %}
								<li><a href="#{{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
	</div>
{% else %}
	<div class="alert alert-danger fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong title="Дратути!">ОШИБКА!</strong> По запросу: <b>{{ query }}</b> ничего не найдено.
	</div>
	<p>Попробуйте изменить запрос и повторить поиск.</p>
{% endif %}
