<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<style type="text/css">
			html, body, .content {height: 100%;}
			.navbar-form-alt {margin: 8px 0;}
			#search-content {margin-top: 60px;}
			.ui-autocomplete {
				z-index: 999999;
				min-height: 50px;
				height: 200px;
				overflow-y: scroll;
				overflow-x: hidden;
			}
			.bolden {font-weight: bold;}
			#category-add {background-color: white; color: green; border: 0px;}
			#category-add:hover {background-color: white; border: 0px;}
			#rem-file-link {color: red;}
			#rem-file-link:hover {color: #bc0303;}
			p {word-wrap: break-word;}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$('[data-toggle="popover"]').popover();
				var connections = $('#connections');
				var file_headers = $('#file-headers');
				var json_object = {};
				var last = '';
				$('#connect-button').click(function() {
					if($('#std-headers').val() != '' && file_headers.val() != '')
					{
						var atrr = $('#std-headers option:selected').attr('value')
						json_object[atrr] = file_headers.val()[0];
						var json_string = JSON.stringify(json_object);
						connections.val(json_string);
						if(('name' in json_object) && ('recomend_price' in json_object))
							$('#sumbit-button').prop('disabled', false);
					}
				});
				$('.list-group-item #rem-file-link').click(function() {
					var k = $(this).attr('href').replace('#', '');
					$('#delModal').modal();
					$('#delModal .btn-ok').click(function() {
						$.get('/price/remove/?k='+k, 
						function(data) {
							if(data == 'ok')
								location.reload(true);
						});
					});
				});
				$('#reset-button').click(function() {
					connections.empty();
					$('#sumbit-button').prop('disabled', true);
				});
				$('select[name=file-format]').change(function() {
					var group = '';
					$('select option:selected').each(function() {
						group = $(this).attr('group');
						if(last != '') {
							$(group).css('display', 'block');
							$(last).css('display', 'none');
						}
						last = group;
						$('input[name="file_format"]').val($(this).attr('value'));
					});
				}).trigger('change');
				$('#category-add').click(function() {
					$("#modal-window").modal();
				});
				$('#modal-ok-btn').click(function() {
					var val = $('input[name="modal-category-name"]').val();
					var csrf = $('input[name="csrfmiddlewaretoken"]').val();
					$.get('/price/cat/?csrfmiddlewaretoken='+csrf+'&c='+val, 
						function(data) {
							var a = data.split(',');
							$('select[name="category"]').append('<option value="'+a[0]+'">'+a[1]+'</option>');
						}
					);
				});
				$('input[name=query]').autocomplete({
					source: function(request, response) {
						var q = $('.form-control').val();
						var csrf = $('input[name="csrfmiddlewaretoken"]').val();
						if($('input[name="search_filter"]').attr('value') == 'name') {
							$.get('/price/fast/?csrfmiddlewaretoken='+csrf+'&q='+q,
								function(data) {
									if(data.length > 0)
										response(data.split('$'));
								}
							);
						}
					},
					minLength: 3,
				});
				$('.dropdown-menu li a').on('click', function(e) {
					e.preventDefault();
					var filter_name = $(this).text();
					var filter_value = $(this).attr('href').replace('#', '');
					$('#search_concept').text(filter_name);
					$('input[name="search_filter"]').val(filter_value);
				});
				$('#search-btn').on('click', function(e) {
					e.preventDefault();
					var q = $('.form-control').val();
					var filter = $('input[name="search_filter"]').attr('value');
					var csrf = $('input[name="csrfmiddlewaretoken"]').val();
					var p = Number($('input[name="p"]').attr('value'));
					if(q.length > 0 && q != ' ') {
						q = q.toUpperCase();
						$.get('/price/ajax/?csrfmiddlewaretoken='+csrf+'&search_filter='+filter+'&query='+q+'&p='+p,
							function(data) {
								$('#search-content').html(data);
								$('.dropdown-toggle').dropdown();
								$('[data-toggle="popover"]').popover();
								$('ul.pagination li a').on('click', function(e) {
									e.preventDefault();
									if($(this).attr('href') != "#nop") {
										$('input[name="p"]').attr('value', $(this).text());
										$('#search-btn').click();
										$('title').text('Главная');
										$('input[name="p"]').attr('value', 1);
									}
								});
							}
						);
					}
				});
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Прайс лист</a>
			</div>
			{% block nav_content %}{% endblock %}
		</nav>
		<div class="container-fluid content">
			<div class="row content">
				<div class="col-md-2 content">
				</div>
				<div class="col-md-8 content">
					<div id="search-content">
						{% block content %}{% endblock %}
					</div>
				</div>
				<div class="col-md-2 content"></div>
			</div>
		</div>
	</body>
</html>
